.table {
    margin-top: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.table-title {
    color: var(--tertiary-1);

}
.table-search {
    display: flex;
}

.table-search label {
    align-self: center;
    padding-right: 5px;
}

.search {
    padding: 10px ;
    border: none;
    margin: 15px 0px;
}

.search:focus {
    border: 1px solid black;
}