.page-employee {
    display: flex;
    flex-direction: column;
}

.create-employee {
    justify-content: center;
}

.address {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
