.page-home {
    margin-bottom: 20px;
}

.home-create {
    color: var(--accent-2);
}

.create-employee {
    justify-content: center;
}

.address {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.modal {
    background-color: var(--primary-4) !important;
    color: var(--primary-2) !important;
    border-color: var(--primary-1) !important;
}