/* INPUT */
.label {
  display: block;
  font-weight: 500;
}

.input {
  display: block;
  font-size: 16px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0.75em 0.5em;
  min-width: 220px;
  border: none;
  border-left: 7px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: white;
}

input:focus {
  outline: none;
  border-left: 7px solid var(--primary-1);
}

::placeholder {
  color: var(--neutral-4) !important;
}

/* SELECT */
.select-container {
  display: block;
  font-size: 16px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  transition: border-left-color 160ms;
  background-color: white;
  min-width: 243px;
}

/* BUTTON */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: var(--white);
  background-color: var(--primary-1);
}

.btn-default:hover,
.btn-outline:hover {
  color: var(--white);
  background-color: var(--primary-2);
  text-decoration: none;
}

.btn-default:active,
.btn-outline:active {
  color: var(--primary-1);
  background-color: var(--primary-4);
}

.btn-default[disabled],
.btn-outline[disabled] {
  color: var(--primary-4);
  background-color: var(--primary-5);
  cursor: default;
}

.btn-outline {
  color: var(--primary-1);
  background-color: var(--primary-4);
  border: var(--primary-1) 2px solid;
  box-shadow: 1px 1px 7px #c4c4c4;
  padding: 8px 25px;
  border-radius: 10px;
}
